@{
    ViewBag.Title = "Contact Us";
     //Layout = null;
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<body>


    <section class="ftco-section contact-section bg-light">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-12 mb-4">
                    <h2 class="h3">Contact Information</h2>
                </div>
                <div class="w-100"></div>
                <div class="col-md-4 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>Address:</span> 11th Avenue 120, Manhattan, New York, USA</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>Phone:</span> +130 210 9752 310</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="info bg-white p-4">
                        <h4>Chat</h4>
                    </div>
                </div>


            </div>
            <div class="row block-9">
                <div class="col-md-6 order-md-last d-flex">


                    <div data-bind="foreach: messages">

                        <div data-bind="text: $data"></div>
                    </div>

                    <hr />

                    <form data-bind="submit: send, visible: connected">
                        <input class="control-label col-md-9" type="text" data-bind="value: text" />
                        <button type="submit">Send</button>
                    </form>

                    <script src="~/Scripts/knockout-3.5.1.debug.js"></script>
                    <script src="~/Scripts/jquery-3.3.1.js"></script>
                    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
                    <script src="~/signalr/hubs"></script>

                    <script>

                        var hub = $.connection.chatHub;

                        var vm = {
                            otherUser: "",
                            messages: ko.observableArray(["Waiting..."]),
                            connected: ko.observable(false),
                            text: ko.observable(""),

                            send: function () {
                                var text = vm.text();
                                if (text.length == 0) return;
                                hub.server.sendMessage(text, vm.otherUser);
                                vm.messages.push("You: " + text);
                                vm.text("");
                            },

                            addMessage: function (text) {
                                vm.messages.push("Stranger: " + text);
                            },

                            startChat: function (otherUser) {
                                vm.otherUser = otherUser;
                                vm.messages([""]);
                                vm.connected(true);
                            }
                        }

                        ko.applyBindings(vm);

                        hub.client.startChat = vm.startChat;
                        hub.client.addMessage = vm.addMessage;

                        $.connection.hub.start();
                    </script>



                </div>

                
                <div class="col-md-6 d-flex">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.686099338856!2d-74.0097746850944!3d40.74693214341555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259c7909666b3%3A0x8618411823acbe7a!2s120%2011th%20Ave%2C%20New%20York%2C%20NY%2010011%2C%20USA!5e0!3m2!1sen!2sgr!4v1579353667935!5m2!1sen!2sgr" width="800" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </section>



   



  

</body>


