    
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

    <div class="Row">
        @*<div class="top80">*@

            @*<div style="display:block; margin:auto;">*@
                @*<div class="bottom30">*@

                
                <div class="col-md-4 mx-auto">
                    <div class="myform form ">


                        <div>
                            <div class="widthSmall">

                                <div style="display:block; width:100%; margin:auto;">
                                    <div class="textC">
                                        
                                        <div class="homeTitleColor" >
                                            <br> <strong> Magic Hotel services and facilities </strong> <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widthSmall">

                                <div style="display:block; width:100%; margin:auto;">
                                    <div class="top30">
                                        <div class="textC">
                                            <div class="bodyText" >

                                            <ul class="columns" data-columns="2">	<li>Business Center</li>	<li>Fitness Centre</li>	<li>3 Restaurants (Lobby, Mezzanine floor &amp; Rooftop)&nbsp;</li>	<li>2 Bars (Lobby &amp; Rooftop)</li>	<li>Meeting/Banquet facilities</li>	<li>Non-smoking Rooms/Floors</li>	<li>24-hour room service</li>	<li>Rooms/Facilities For Disabled Guests</li>	<li>Daily Maid Service</li>	<li>Heating/Air Conditioning</li>	<li>Turn down service&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>	<li>Luggage Storage</li>	<li>Dry cleaning,&nbsp;Laundry &amp; Ironing Service</li>	<li>Safety Deposit Box</li>		<li>Baby Sitting (upon request, surcharge)</li>	<li>Concierge Service</li>	<li>Doctor (on call)</li>	<li>Information Desk</li>	<li>Baby cot (upon request, surcharge)</li>		<li>Soundproof Windows &nbsp;&nbsp;</li>	<li>Airport/Port Transfer Service (surcharge)</li>	<li>Bath Amenities</li>	<li>Currency Exchange</li>		<li>Closed Parking</li>	<li>Cable-Satellite TV</li>		<li>Movie &amp; Sport Channels</li>			<li>Early check in (Upon availability)</li>	<li>Late check out (Upon availability)</li>	<li>Mini-Bar</li></ul>&nbsp;<div class="internalMainTitle"><strong>INTERNET ACCESS </strong></div><br><strong>Free Wi-Fi Internet</strong><br>Rooms - Public areas – Conference<br><br><strong>Premium Access</strong><br>24hrs &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;12 Euro&nbsp;<br>whole stay &nbsp; &nbsp; &nbsp; 20 Euro&nbsp;<br><br><strong>Business Corner</strong><br>15 minutes: &nbsp; Free<br>60 minutes: &nbsp; 6 Euro<br><br>&nbsp;<div class="internalMainTitle"><strong>PARKING</strong></div><br>The hotel offers secured closed parking at the rate of 8.00 Euro per car, per 24hours.<br><br>&nbsp;<div class="internalMainTitle"><strong>FITNESS CENTER / MASSAGE PARLOR </strong></div><br>A brand new gym and massage parlor are located on the 2nd floor. Hotel guests may visit the fitness area to enjoy the modern exercise equipment, while they may schedule an appointment to enjoy a relaxing and invigorating massage.<br>Operating Hours: &nbsp;<br>8.00 to 20.00
                                        </div>
                                        <div class="top30">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
