
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2 class="text-center">Transaction Completed</h2>

<div class="text-center">
    @Html.ActionLink("MyProfile", "UserProfile", "Users", null, new { @class = "btn btn-dark" })
</div>

   